.action{
    height: 100px;
    width: auto;
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-radius: 15px;
    background-color: #FFC2C2;
    text-align: center;
}