.lesson{
    height: 130px;
    width: 471px;
    font-size: 30px;
    text-transform: uppercase;
    border-radius: 15px;
    background-color: #FFC2C2;
    margin-bottom: 20px;
    text-align: center;
}
