
.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.subContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.image {
    float: right;
}