.score {
    font-family: monospace;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
    margin: 1rem;
    position: relative;
    transition: opacity 0.2s;
    background-color: #FFC2C2;
}


.draggableItems{
    display: flex;
    justify-content: center;
    margin: 1rem 1rem 1.5rem 1rem;
    transition: opacity 0.5s;
    gap: 1rem;
}

.matchingPairs{
    transition: opacity 0.5s;
}

.cardGrid{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 1rem;
}

.board{
    width: 200px;
    height: 70px;
    border: 2px solid  #003066 ;
    margin: 10px;
}