.lessons {
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
}

.cardContent {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    padding: 20px;
    gap: 4px;
}