.header {
    grid-area: header;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 20px 5px 30px;
    position: sticky;
    top: 0;
    z-index: 1;

}


.logo {

}

.userIcon {

}
.level{
    font-size: 24px;
}

.levelIndicator {
    padding: 0 20px 0 0;
}

.menu {
    display: flex;
    flex: 0 0 800px;
    justify-content: flex-end;
}

.list {
    display: flex;
    align-items: center;
}

.item {
    padding: 0 10px 0 0;
}

button {
    background-color: transparent;
}

.logout {
}


.progress{
    height: 20px;
    background-color: #FFC2C2;
    width: 150px;
    display: flex;
}


.inner {
    height: 100%;
    width: 80%;
    transition: all 0.3s ease-in-out;
    background: #FF777B;


}

.points{
    margin: 3px 0 0 3px;
}

