.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "content content content"
    "footer footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 20% 1fr 15%;
  background-color: #f5f5f5;
  margin: 0 auto;
  font-family: Noto Serif;
}